<div class="text-white flex justify-start items-center py-4">
    <a href="<%= root_path %>" class="">
       <h2 class="text-white text-2xl font-bold">Kode Search</h2>
    </a>
</div>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Domain
                </th>
                <th scope="col" class="px-6 py-3">
                    Indexed Pages
                </th>
            </tr>
        </thead>
        <tbody>
            <% @domains.each do |domain| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= domain.name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= domain.url_count %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
